<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    <!-- CoreUI CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@coreui/coreui/dist/css/coreui.min.css">
</head>
<body>
    <!-- Check if there is an error message -->
    {{#if errorMessage}}
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    {{/if}}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h1>Set a New Password</h1></div>
                    <div class="card-body">
                        <form method="post" action="/reset-password" class="form">
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">New Password:</label>
                                <input type="password" id="newPassword" name="newPassword" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="confirmNewPassword" class="form-label">Confirm:</label>
                                <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control">
                            </div>
                            <input type="hidden" name="resetKey" value="{{resetKey}}">
                            <input type="hidden" name="csrf" value="{{csrfToken}}"></input>
                            <div class="d-grid">
                                <input type="submit" value="Set New Password" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CoreUI Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>
</body>
</html>
