<h1>Set a New Password</h1>
<form method="post" action="/reset-password">
    New Password: <input type="password" name="newPassword"><br>
    Confirm: <input type="password" name="confirmNewPassword"><br>
    <input type="hidden" name="resetKey" value="{{resetKey}}">
    <input type="submit" value="Set New Password">
</form>